use flake

# Coursier credentials for resolving from GitHub Packages
export COURSIER_CREDENTIALS="maven.pkg.github.com $(gh api user -q .login):$(gh auth token)"

if [ ! -e .corepack ];
then
    mkdir -p $(pwd)/.corepack
    corepack enable --install-directory $(pwd)/.corepack
fi

export PATH=$(pwd)/.corepack:$PATH
