<?xml version="1.0" encoding="utf-8"?>
<xsl:stylesheet xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
  xmlns:fo="http://www.w3.org/1999/XSL/Format" xmlns:ui="https://ui.iterative.works/form"
  version="1.0">

<xsl:import href="/medeca_header_en.xsl" />
<xsl:import href="/medeca_signatures_en.xsl" />
<xsl:import href="/uiform.xsl"/>

  <xsl:output method="xml" indent="yes" encoding="UTF-8" />
  <xsl:template match="/">
    <fo:root language="CS" font-family="Liberation Sans">
      <fo:layout-master-set>
        <fo:simple-page-master master-name="A4-portrait" page-height="29.7cm" page-width="21.0cm"
          margin="2cm">
          <fo:region-body />
        </fo:simple-page-master>
      </fo:layout-master-set>
      <fo:page-sequence master-reference="A4-portrait">
        <fo:flow flow-name="xsl-region-body">
          <xsl:call-template name="header" />
          <xsl:apply-templates select="//ui:form" />
          <xsl:call-template name="signatures" />
        </fo:flow>
      </fo:page-sequence>
    </fo:root>
  </xsl:template>
</xsl:stylesheet>
