:80 {
    root * /srv

    @app {
      path /mdr/pdb/app /mdr/pdb/app/ /mdr/pdb/app/*
    }

    @static {
      path /mdr/pdb/assets/* /mdr/pdb/css/* /mdr/pdb/images/* /mdr/pdb/doc/*
    }

    handle @app {
      rewrite * /mdr/pdb/index.html
      file_server
    }

    handle @static {
      file_server
    }

    # handle {
    #     reverse_proxy {env.BACKEND} {
    #         # This is for Play, it expects to have the same number of
    #         # comma-separated values in X-Forwarded-For as in X-Forwarded-Proto.
    #         # TODO: make the comma conditional when not behind another proxy
    #         # This works for production and staging, might break https in dev
    #         header_up X-Forwarded-Proto "{http.request.header.X-Forwarded-Proto}, http"
    #     }
    # }
}
